[Desktop Entry]
Name=NSMB - Mario vs Luigi Online
GenericName=platformer game for 2+ players
Exec=mariovsluigi
Terminal=false
Type=Application
Icon=io.github.NSMBMarioVsLuigi
Categories=Game;